@model Dataaccess.Entities.User
@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>

@using (Html.BeginForm("CreateUser", "User", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Soyad)
        @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mail)
        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", type = "email" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
}